@import 'variables';
@import 'mixins';

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  max-height: 100%;
  font-family: $base-font-family;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3A4145;
  text-rendering: geometricPrecision;
}
::-moz-selection {
  background: #D6EDFF;
}
::selection {
  background: #D6EDFF;
}
h1, h2, h3,
h4, h5, h6 {
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: $heading-font-family;
  text-rendering: geometricPrecision;
}
h1 {
  font-size: $h1-font-size;
  letter-spacing: -2px;
  text-indent: -3px;
}
h2 {
  font-size: $h2-font-size;
  letter-spacing: -1px;
}
h3 {
  font-size: $h3-font-size;
  letter-spacing: -0.6px;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
a {
  color: $simple-blue;
  transition: color 0.3s ease;

  &:hover {
    color: $simple-dark-blue;

  }
}

p {
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $lightest-gray;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  @include prefix(box-sizing, border-box, moz);
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
  border-left: #4A4A4A 0.4em solid;

  p {
    margin: 0.8em 0;
    font-style: italic;
  }

  small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: $light-gray;

    &:before {
      content: "\2014 \00A0";
    }
  }

  cite {
    font-weight: 700;

    a {
      font-weight: normal;
    }
  }
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #EFEFEF 1px solid;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody { border-top: #EFEFEF 2px solid; }

table table table { background-color: #FFF; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #F6F6F6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

iframe, .fluid-width-video-wrapper {
  display: block;
  margin: 1.75em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

textarea, select, input {
  width: 260px;
  padding: 6px 9px;
  margin: 0 0 5px 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4em;
  background: #fff;
  border: #e7eef2 1px solid;
  border-radius: 4px;
  box-shadow: none;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  max-width: 340px;
  min-width: 250px;
  height: auto;
  min-height: 80px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  border: #bbc7cc 1px solid;
  background: #fff;
  outline: none;
  outline-width: 0;
}

select {
  width: 270px;
  height: 30px;
  line-height: 30px;
}

button {
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.1rem 1.5rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px; /* Hacks targeting Firefox. */
  line-height: 13px; /* Hacks targeting Firefox. */
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.3rem;
  border: rgba(0,0,0,0.05) 0.1em solid;
  background: #5ba4e5;
}