.hover-over {
  position: relative;
  overflow: hidden;

  .image {
    width: 100%;
    display: block;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    padding: $small-horizontal-padding;
    background-color: $simple-blue;
    height: calc(100% - #{$small-horizontal-padding} * 2);
    width: calc(100% - #{$small-horizontal-padding} * 2);
    @include prefix(transition, all .25s linear, webkit moz ms);


    h6, p {
      color: $lightest-gray;
    }

    .overlay-content {
      position: relative;
      z-index: 100;
    }

  }

  &.slide-right {

    .overlay {
      left: -100%;

      &:after,
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        right: -72px;
        top: 0;
        border-top: 137px solid transparent;
        border-bottom: 137px solid transparent;
        border-left: 72px solid $simple-dark-blue;
      }

      &:before {
        right: auto;
        left: 0;
        opacity: .5;
      }
    }

    &:hover {

      .overlay {
        left: 0;
        opacity: .8;
      }
    }

  }

  &.slide-left {

    .overlay {
      right: -100%;

      &:after,
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        left: -72px;
        top: 0;
        border-top: 137px solid transparent;
        border-bottom: 137px solid transparent;
        border-right: 72px solid $simple-dark-blue;
      }

      &:before {
        right: 0;
        left: auto;
        opacity: .5;
      }
    }

    &:hover {

      .overlay {
        right: 0;
        opacity: .8;
      }
    }
  }

  &.from-center {

    .overlay {
      @include prefix(transform, scale(.2, .2), webkit moz);

      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        bottom: 0;
        left: 0;
        top: auto;
        opacity: .5;
        border-left: 188px solid transparent;
        border-bottom: 72px solid $simple-dark-blue;
        border-right: 188px solid transparent;
      }
    }

    &:hover {

      .overlay {
        @include prefix(transform, scale(1, 1), webkit moz);
        opacity: .8;
      }
    }
  }
}